.footer__row {
    background: #000000;
}

.footer_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80px;
}

.footer__text {
    display: flex;
    align-items: center;
}

.footer__text-content {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;

    text-align: right;
    
    color: #FFFFFF;
}

.footer__logo {
    display: flex;
    justify-content: end;
    align-items: center;
}

