.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  height: 70px;

  background: #313131;
}

.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_logo-image {
  margin: 0px 27px 0 29px;
}

.header__logo-text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;

  color: #ffffff;
}

.menu__lists {
    display: flex;
    justify-content: space-between;
    min-width: 700px;
}

.menu__link {
font-family: sans-serif;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
text-transform: uppercase;

color: #FFFFFF;
}

.menu__link:hover {

    color: #14B9D5;
}

.header__search-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background: #000000;
}

.search_img {
  color: #FFFFFF;
}