.hero {
  height: 369px;
  background: url(../img/header-background.png) 0 0 / cover no-repeat;
}

.hero__title {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;

  padding-top: 164px;

  color: #ffffff;
}

.hero__btns {
  display: flex;
  justify-content: center;
}

.hero__btn {
  margin: 44px 10px;
}

.hero__btn-link {
  display: inline-block;
  vertical-align: middle;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  color: #ffffff;

  width: 170px;

  background: #89ca62;
  border-radius: 3px;
  text-align: center;
  padding: 16px 0;
}

.hero__btn-link:hover {
  background: #14b9d5;
}
