.hot-news__content {
  display: grid;
  grid-template: 259px 418px 418px 259px / 277px 242px 242px 277px;
  grid-template-areas:
    "long long long short"
    "l-tall l-tall r-tall r-tall"
    "l3-tall l3-tall r3-tall r3-tall"
    "short4 long4 long4 long4";
  column-gap: 35px;
  row-gap: 35px;
  margin-bottom: 50px;
}

.hot-news__title {
    padding: 48px 0 51px 0;
}


.hot-news__contentbox1 {
  grid-area: long;
  background: #f9f7f7;;
}

.hot-news__contentbox2 {
  grid-area: short;
  background:#f9f7f7;
}

.hot-news__contentbox3 {
  grid-area: l-tall;
  background: #f9f7f7;;
}

.hot-news__contentbox4 {
  grid-area: r-tall;
  background: #f9f7f7;;
}

.hot-news__contentbox5 {
  grid-area: l3-tall;
  background: #f9f7f7;;
}

.hot-news__contentbox6 {
  grid-area: r3-tall;
  background: #f9f7f7;;
}

.hot-news__contentbox7 {
  grid-area: short4;
  background: #f9f7f7;;
}

.hot-news__contentbox8 {
  grid-area: long4;
  background: #f9f7f7;;
}

.long-contentbox {
  display: flex;
}

.long-contentbox__text {
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.contentbox__title {
  padding: 41px 25px 15px 0px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;

  color: #353a3d;
}

.contentbox__subtitle {
  padding-right: 25px;
  padding-left: 10px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;

  text-align: right;

  color: #5b6469;
}



.short-contentbox__text {
  background: #f9f7f7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);

  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #353a3d;
}

.short-contentbox__text {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 49px;
}

.tallcontentbox__title {
    font-family: sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
text-align: right;

color: #353A3D;
padding: 12px 14px 15px;
}

.tallcontentbox__subtitle {
    font-family: sans-serif;
    
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    
    
   
    text-align: right;
    
    color: #5B6469;

    padding: 0 14px 3px 14px;
    
}