.mp-clients {
  height: 588px;
  background: url(../img/header-background.png) 0 0 / cover no-repeat;
}

.mp-clients__row {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(4, auto);

grid-template-areas: "title title title title"
                    "decore-line decore-line decore-line decore-line"
                    "logo1 logo2 logo3 logo4";

  justify-content: center;
}

.mp-clients__decore-line {
    grid-area: decore-line;
  width: 60px;
  height: 3px;

  background: #18b4cf;

  margin: 0 auto;
  margin-top: 87px;
}

.mp-clients__title {
    grid-area: title;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  text-align: center;
  text-transform: uppercase;

  padding-top: 108px;

  color: #ffffff;
}


.mp-clients__logo-img1 {
    grid-area: logo1;
}

.mp-clients__logo-img2 {
    grid-area: logo2;
}

.mp-clients__logo-img3 {
    grid-area: logo3;
}

.mp-clients__logo-img4 {
    grid-area: logo4;
}

.mp-clients__logo {
    align-self: center;
    justify-self: center; 
}

.mp-clients__image {
    padding: 60px 30px 0px 30px;
}