.mp-posts {
  background: #f2f2f2;
}

.mp-posts__title {
  padding-top: 40px;
  padding-bottom: 34px;
}

.mp-posts__poprse {
  display: flex;
  padding-top: 1px;
}

.mp-post__post {
  padding: 15px;
}

.mp-posts__text {
    display: flex;
    justify-content: center;
    align-items: center;
  height: 61px;
  background: white;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  

  color: #353a3d;
}
