@import url(header.css);
@import url(hero.css);
@import url(mp-posts.css);
@import url(mp-clients.css);
@import url(top-rated.css);
@import url(hot-news.css);
@import url(footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;

  color: #18b4cf;
  text-align: center;
}

.container {
    margin: 0 auto;
    width: 1170px;
}
