.cr {
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  
    color: var(--main-color);
    margin-top: 49px;
  }