.header {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
}

.logo__link {
  display: grid;
  grid-template: 1fr/53px 1fr;
  color: var(--main-color);
  column-gap: 8px;
  margin-top: 51px;
}

.logo__img {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  width: 53px;
  height: 50px;
}

.logo__link:hover {
  color: var(--secondary-color);
}

.logo__link:hover .logo__img {
  color: var(--secondary-color);
  background-image: url(../img/logo2.svg);
}

.logo__title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  text-align: left;
  align-self: flex-end;
}

.logo__subtitle {
  font-size: 18px;
  line-height: 18px;
}

.contact-info__link {
  color: var(--main-color);

  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.contact-info:hover a {
  color: var(--secondary-color);
}

.contact-info__mail {
  margin-top: 49px;
  text-align: right;
}

.contact-info__tel {
  margin-top: 19px;
  text-align: right;
}
