.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  column-gap: 61px;
  row-gap: 37px;
  margin-top: 17px;
}

.main__card {
  text-align: center;
}

.image__bloc {
  position: relative;
  height: 220px;
  overflow: hidden;
}

.image__bloc-link {
  display: inline-block;
}

.main__image {
  width: 100%;
  height: 100%;
  border: black 1px solid;
}

.main__title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  color: var(--main-color);
}

.main__titleblock {
  margin-top: 20px;
}

.main__title:hover {
  color: var(--secondary-color);
}

.main__btn {
  position: absolute;
  background-color: var(--secondary-color);
  width: 100%;

  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.image__bloc:hover .main__btn {
  transform: translateY(-60px);
}

.main__btn-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;

  color: var(--main-color);
  padding: 7px 0 8px 16px;
}

.main__btn-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 12px 16px;
}

.main__btn-subtitle-price {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  color: var(--main-color);
}

.main__btn-subtitle-detiles {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: var(--main-color);
}

.main__btn-subtitle-detiles::after {
  content: ">";
  margin-left: 16px;
  margin-right: 14px;
}
