@import url(header.css);
@import url(main.css);
@import url(footer.css);

:root {
  --main-color: white;
  --secondary-color:#f26522;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: url(../img/background.png) 0 0/cover no-repeat;
}

.container {
  width: 1022px;
  margin: 0 auto;
}

