* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1280px;
}

.logo__text {
  margin-top: 63px;
}

.logo__link {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;

  color: #000000;
}

.logo__blutext {
  color: cornflowerblue;
}

.menu {
    background-color:#35444F;
    margin-top: 38px;
}

.menu__lists {
    display: flex;
    justify-content: center;
}

.menu_link {
display: inline-block;
vertical-align: middle;

padding: 26px;

font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;

color: #FFFFFF;

border-right: 1px solid white;
}

.menu_link:hover {
    background: #222F3A;
}

.menu__list:first-child {
    border-left: 1px solid white;
}

.main__row {
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
}

.about__menu {
background: rgba(0, 0, 0, 0.0001);
border: 1px solid #000000;
}


.about__link {
display: inline-block;
vertical-align: middle;

font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 27px;

width: 342px;

color: #485863;
padding: 26px 0 26px 42px;

}

.about__link:hover {
background: #DBDBDB;
padding-left: 80px;
color: black;
}


.hero {
    width: 885px;
}

.hero__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 885px;
    height: 529px;

    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.hero__img {
    width: 320px;
    height: 381px;

    transition: transform 1.5s;
}

.hero__img:hover {
    transform: scale(1.03);
}

.hero__text {
    margin-top: 37px;

    font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;



color: #2C2C2C;
}

.hero__text-b {
    margin-top: 34px;
}



.footer_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    height: 69px;
    margin-top: 54px;
}



.footer_cr {
font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;

color: #010101;
margin-right: 40px;
}

.footer_menu {
    margin-left: 40px;
}

.footer_lists {
    display: flex;
    justify-content: space-between;
}

.footer__link {
font-family: sans-serif;
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 27px;
padding: 0 20px;

color: #35444F;
}

.footer__link:hover {
    color: darkcyan;
    text-decoration: underline;
}