* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.content {
  width: 1145px;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu li {
  margin: 26px 36px;
}

.menu a {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;

  color: #ff0000;
}

.hero {
  width: 1280px;
  height: 789px;
  background-image: url(../img/hero_image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.text-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;

  letter-spacing: 3.3px;
  text-transform: uppercase;
  padding-top: 49px;
  padding-bottom: 10px;
}

.text-info {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  text-align: center;
  letter-spacing: 2.4px;

  padding-top: 28px;

  color: #373737;
}

.buttn {
  margin-top: 66px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
}

.buttn a {
  padding: 18px 43px;
  background: #ff0000;
  border-radius: 4px;
  color: #ffffff;
}

.cr {
  text-align: right;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;

  color: #373737;
  margin: 82px 38px 29px 0;
}
