
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  resize: none;
}



.container {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background: url(../img/fon.png) center/cover no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo__link {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-transform: uppercase;

  color: #ffffff;
  margin-left: 79px;
}

.logo__link:hover {
  color: #01813f;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__bar {
  display: flex;
  align-items: center;
}

.nav__element:last-child {
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  width: 1px;
  height: 19px;
}

.nav__element {
  margin-right: 25px;
}

.fa-regular {
  color: #ffffff;
}

.fa-regular:hover {
  color: #01813f;
}

.nav:hover .nav__element:last-child {
  background: #01813f;
}

.nav__reg:hover {
  color: #807b7b;
}

.nav__reg:hover a {
  color: #807b7b;
}

.nav__reg a:hover {
  color: #01813f;
}

.nav__reg {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #ffffff;
  margin-right: 76px;
}

.nav__reg a {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #ffffff;
}

.main {
  position: relative;
}

.popup-login {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(29, 29, 29, 0.6);
  opacity: 0;
  visibility: hidden;
}

.popup-login:target {
  opacity: 1;
  visibility: visible;
}

.popup-login__container {
  position: absolute;
  width: 444px;
  height: 584px;
  left: calc(50% - 222px);
  top: calc(50% - 292px + 29px);

  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  color: black;

}

.popup__content {
  position: relative;
  max-width: 324px;
  margin: 0 auto;
}

.greensqare {
  position: absolute;
  top: 29px;
  left: -60px;
  width: 18px;
  height: 18px;
  background-color: #01813f;
}

.popup__content-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: baseline;
  padding-top: 31px;
  column-gap: 4px;


}

.popup__content-grid__cell__1 span {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  color: #434343;
}

.popup__content-grid__cell__2 {
  justify-self: end;
}
.popup__content-grid__cell__2 a {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #3cb878;
}

.popup__content-grid__cell__2:hover {
  text-decoration: underline;
}

.popup__content-grid__cell__5 {
  grid-column: span 2;
}

.popup__content-grid__cell__6 {
  grid-column: span 2;
}

.btn {
  display: grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 48px;

  align-items: center;
  border-radius: 3px;
  margin-top: 15px;
}
.link {
  color: #ffffff;
}

.facebook-btn {
  background-color: #305db8;
}

.facebook-btn:hover {
  background-color: #022263;
}

.google-btn {
  background-color: #df4a32;
}

.google-btn:hover {
  background-color: #ab1f09;
}

.text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  color: #ffffff;
}

.fa-facebook-f {
  position: relative;
  padding-left: 16.77px;
  font-size: large;
}

.fa-google-plus-g {
  position: relative;
  padding-left: 12px;
  font-size: large;
}

.fa-facebook-f::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 28px;
  left: 48px;
  top: -5px;

  mix-blend-mode: normal;
  opacity: 0.1;

  background-color: #0a162f;
}

.fa-google-plus-g::after {
  content: "";

  position: absolute;
  width: 1px;
  height: 28px;
  left: 48px;
  top: -5px;

  mix-blend-mode: normal;
  opacity: 0.1;

  background-color: #0a162f;
}

.popup__content-grid__cell__5__text {
  margin-top: 31px;
  position: relative;
  display: flex;
  justify-content: center;
}

.popup__content-grid__cell__5__text h2 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  background-color: #fff;
  color: #848484;
  position: absolute;
  top: -7px;
  padding: 0 5px;
}

.popup__content-grid__cell__5__text::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;

  position: absolute;
  top: calc(50% + 1px);
}

.forms {
  margin-top: 12px;
}

.first-name {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  border: 1px solid #f2f2f2;
}

.forms__input {
  width: 324px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  margin-bottom: 12px;
  padding-left: 20px;
}

.forms__input::placeholder {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;


  color: #bebebe;
}

.forms__input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  outline: none;
}

.checkbox-area span {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #434343;
}

.checkbox__link {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: #3cb878;
}

.forms__btn__vis-form {
  width: 324px;
  height: 46px;
  margin-top: 20px;

  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.forms__btn__vis-form__text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.forms__btn__hid-form {
  width: 324px;
  height: 46px;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
}

.forms__btn__vis-form:hover {
  background-color: #01813F;
}

.checkbox__link:hover {
  color: #01813F;
}

.fa-xmark {
  color: #01813F;
  animation: fa-xmark 5s linear infinite forwards;

  position: absolute;
  top: 10px;
  right: -50px;
}


@keyframes fa-xmark {
  0% {
      transform:rotate(0deg);

  }
  100% {
      transform:rotate(360deg);

  }
}



